# Make various Block related things public
public net.minecraft.block.Block$Properties *() # Block$Block$Properties
public net.minecraft.client.particle.BreakingParticle *() # BreakingParticle

public net.minecraft.block.SaplingBlock <init>(Lnet/minecraft/block/trees/Tree;Lnet/minecraft/block/Block$Properties;)V # SaplingBlock
public net.minecraft.block.CakeBlock <init>(Lnet/minecraft/block/Block$Properties;)V # CakeBlock
public net.minecraft.block.FlowingFluidBlock <init>(Lnet/minecraft/fluid/FlowingFluid;Lnet/minecraft/block/Block$Properties;)V # FlowingFluidBlock
public net.minecraft.block.DoorBlock <init>(Lnet/minecraft/block/Block$Properties;)V # DoorBlock
public net.minecraft.block.PressurePlateBlock <init>(Lnet/minecraft/block/PressurePlateBlock$Sensitivity;Lnet/minecraft/block/Block$Properties;)V # PressurePlateBlock

public-f net.minecraft.item.AxeItem field_203176_a # BLOCK_STRIPPING_MAP
protected net.minecraft.entity.item.BoatEntity func_184447_s()V # tickLerp